ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  background-color: #fff;
  letter-spacing: 0.02em;
}
.header-nav-link {
  font-weight: 500;
  color: #2e2f42;
}
.header-nav-link:hover,
.header-nav-link:active {
  color: #404bbf;
}
.header-address-link {
  font-style: normal;
  color: #434455;
}
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
.solution {
  background-color: #2e2f42;
}
.solution-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.solution-button {
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}
.solution-button:hover,
.solution-button:focus {    
    background: #404bbf;
}
.feature-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.team { 
    background-color: #f4f4fd;}    
team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        color: #2e2f42;
}
.team-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
    text-align: center;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.footer {
    background: #2e2f42;
}
.footer-text {
    color: #f4f4fd;
}